<div role="tabpanel" class="tab-pane config-section" id="network">
	<a class="nav-link rounded-0" href="{{ url_for('admin.create') }}" role="tab">Create</a>

	<a class="nav-link rounded-0" href="{{ url_for('admin.start') }}" role="tab">Start</a>

	<a class="nav-link rounded-0" href="{{ url_for('admin.stop') }}" role="tab">Stop</a>

	<a class="nav-link rounded-0" href="{{ url_for('admin.update') }}" role="tab">Update</a>

	<a class="nav-link rounded-0" href="{{ url_for('admin.delete') }}" role="tab">Delete</a>
</div>
